'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Beancount'
      'submenu': [
        {
          'label': 'Format Buffer'
          'command': 'formatter-beancount:run'
        }
      ]
    ]
  }
]
